$red:red;
$font:"Raleway", sans-serif;
body{
	// overflow: hidden;
	a:hover, a:visited, a:active, a:focus{
		text-decoration: none;
		color: #000;
	}
}
.body_menu{
	overflow: hidden;
}
header{
	background:white;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	height: 50px;
	line-height: 50px;
	.logo{
		position: relative;
		a{
			margin: 0 auto;
			position: absolute;
			top: 0;
			right: 58%; 
			left: 42%;
			display:inline-block;
			color: black; 
			text-decoration: none;
			h1{
			font-family:"Raleway" ;
			font-weight: 900;
			line-height: 50%;
			}
		}
	}
	.menu_toggle:hover span{
		opacity: 1;
		
	}
	.menu_toggle{
		margin-left: 30px;
		font-size: 20px;
		float: left;
		color:black;
		text-align: left;
		position: relative;
		span{
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			transition: all 0.5s;
			opacity: 0;
			margin-left: 20px; 
			text-transform: uppercase;
			font-family: $font;
			font-size:11px;
			letter-spacing: 4px;
		}
		
	}
	.cart_icon{
		float: right;
		font-size: 20px;
		margin-right: 20px;
		span{

			margin-right: 20px;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			transition: all 0.5s;
			opacity: 0;
			margin-left: 20px; 
			text-transform: uppercase;
			font-family: $font;
			font-size:11px;
			letter-spacing: 4px;
		}
	}
	.cart:hover span{
		opacity: 1;
	}


}
.cart{
	background-color: #fff;
	border: 1px solid black;
	z-index: 120;
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	padding-bottom: 87px;
	-webkit-transform: translate3d(300px, 0, 0);
	-moz-transform: translate3d(300px, 0, 0);
	-ms-transform: translate3d(300px, 0, 0);
	-o-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.cart_vis{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.cart-product-name{
	letter-spacing: 2px;
	font-family: #font;
	.cart-product-title{
		display: block;
		font-size: 11px;
		font-weight:400;
	}
	.cart-product-firm{
		font-size: 12px;
		font-weight:600;
		text-transform: uppercase;

	}
}
.cart-product-info{
	padding-left: 20px;
}
.cart-label, .cart-prise{
	font-family: $font;
	font-weight: 600;
	padding-right: 10px;
}
.cart_table{
	td{
		padding: 15px 0 0 15px
	}
	table{
		width: 100%;
	}

}
table tbody tr .cart-close{
	padding: 0 10px 50px 0!important;
	font-weight: 800;
} 
.cart_bottom{
	font-family: $font;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	a{
		font-size: 11px;
		letter-spacing: 2px;
		text-transform: uppercase;
		line-height: 50px;
		text-align: center;
		color: white!important;
		display: inline-block;
		width: 100%;
		background-color: #000;
		height: 50px;
	}
	.total-row{
		text-transform: uppercase;
		p{
			margin-left: 20px;
		}
		span{
			float: right;
			margin-right: 20px;
		}
	}
}
.sidemenu{
	position: fixed;
	width: 281px;
	height: auto;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	background: #1D1D1F;
	left: 0;
	top: 0;
	bottom: 0;
	letter-spacing: .1875rem;
	min-height: 500px;
	z-index: 99;
	-webkit-transform: translate3d(-281px, 0, 0);
	-moz-transform: translate3d(-281px, 0, 0);
	-ms-transform: translate3d(-281px, 0, 0);
	-o-transform: translate3d(-281px, 0, 0);
	transform: translate3d(-281px, 0, 0);
	.head-sidemenu{
		-webkit-transform: translate3d(0, -70px, 0);
		-moz-transform: translate3d(0, -70px, 0);
		-ms-transform: translate3d(0, -70px, 0);
		-o-transform: translate3d(0, -70px, 0);
		transform: translate3d(0, -70px, 0);
		height: 50px;
    	vertical-align: 100px;
		a{ 
			float: left;
			display:block;
			padding: 0;
			height: 50px;
			width: 33.3%;
			border: 1px solid white;
			background-color: transparent;
			text-align: center;
			color:#fff;
			i{
				line-height: 50px;
				font-size: 20px;
			}
		}
		a:hover{
			color: $red;
		}
	}
	.head-sidemenu-vis{
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: all 1.2s;
		-moz-transition: all 1.2s;
		transition: all 1.2s;
	}
	.menu{
		text-transform: uppercase;
		font-family: "Raleway", sans-serif;
		font-weight: 600;
		font-size: 10px;
		margin-top: 130px;
		.ul_menu{
			opacity: 0;
			padding: 0;
			width: 100%;
			list-style: none;
			-webkit-transform: translate3d(-200px, 0, 0);
		    -moz-transform: translate3d(-200px, 0, 0);
		    -ms-transform: translate3d(-200px, 0, 0);
		    -o-transform: translate3d(-200px, 0, 0);
		    transform: translate3d(-200px, 0, 0); 
		}
		.ul_menu_m{
			-webkit-transition: all 1.5s;
			-moz-transition: all 1.5s;
			transition: all 1.5s;
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0);
	  		-moz-transform: translate3d(0, 0, 0);
	  		-ms-transform: translate3d(0, 0, 0);
	  		-o-transform: translate3d(0, 0, 0);
	  		transform: translate3d(0, 0, 0); 
		}
		a{
			color:white;
			letter-spacing: .1875rem;
			display: block;
			text-decoration: none;
		}
		li{

			padding: 9px 30px;
		}

		li:hover a{
			color: $red;
		}
		li:hover{
			padding-left: 45px;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			transition: all 0.5s;
		}
		.active{
			background-color: #121212;
			a{
				color: $red;
			}
		}
	}
}

.sidemenu_vis{
	-webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0); 
}
.form-control{
	margin-top: 10px;
	margin-right: 10%;
	float: right;
	display: inline-block;
	width: 40px;
	padding: 0;
	border: none;
	box-shadow: none;
	color: black;
}
.form-control:focus{
	border:1px solid black;
}
.valute{
	margin-top: 10px;
	margin-right: 10%;
}
.lang{
	margin-right: 3%;
}
.w_for_menu, .header_f_m{
	// pointer-events: none; /* делаем элемент неактивным для взаимодействия */
	// cursor: default; /*  курсор в виде стрелки */
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translate3d(281px, 0, 0);
	-moz-transform: translate3d(281px, 0, 0);
	-ms-transform: translate3d(281px, 0, 0);
	-o-transform: translate3d(281px, 0, 0);
	transform: translate3d(281px, 0, 0); 
}
.w_for_cart, .header_f_c{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translate3d(-300px, 0, 0);
	-moz-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate3d(-300px, 0, 0);
	-o-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0); 
}