$font:"Raleway", sans-serif;
@import "_perm_items.scss";

.catalog-item-img{
	display:inline-flex;
	height:340px;
	width: 265px;
	img{
		display: block;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
		margin: auto;
		max-height: 350px;
		max-width: 265px;
		opacity: 0.65;
	}
	img:hover{
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
		opacity: 1;
	}
}
.product-item{
	height: 420px;
}
.catalog-item-info{
	position: absolute;
    left: 0;
    bottom: 5px;
    right: 0;
	span{
		padding-bottom: 3px;
		text-transform: uppercase;
		display: block;
		text-align: center;
		font-family: $font;
		letter-spacing: 2px;
	}
	.product-title-small{
		font-size: 9px;
		font-weight: 400;
	}
	.product-firm{
		font-weight: 600;
	}
	.catalog-item-price{
		font-weight:500;
		font-size: 12px;
	}
}